html {
  background-color: #333;
}

.clockContainer {
  font-family: 'Roboto', Arial, sans-serif;
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clockContainer h1 {
  font-size: 50px;
  font-weight: normal;
}

.hours {

}

.minutes {

}

.seconds {

}